/* main container of the navbar */
.navbar { 
  background: linear-gradient(to right,#077fce, #4543eb );
  width: 90%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  font-size: 1.2rem;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 99;
  color: white;
}
.appName a:hover {
  color: white;
}

.navLinks {
  float: right;
}
.navLinks span {
  margin: 0px 10px;
  cursor: pointer;
}
.navLinks a {
  color: white;
}
.navLinks a:hover {
  color: black;
}
.fa-solid, .fa{
  font-weight: 900;
  color: black;
}
@media screen and (max-width:960px){
  .navbar{
      border-bottom: 1px solid #f7f7f7;
      display: block !important;
      padding: 1em;
  }}