
/* ======================= SignUp.js ======================= */
.container{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.innerBox {
    width: 250px;
    height: 300px;
    margin-top: 5%;
    text-align: center;
    padding: 5px;
}
.innerBox input {
    width: 95%;
    height: 35px;
    margin-bottom: 5%;
    border-radius: 4px;
    font-size: 1rem;
    border: 1px solid aqua;
}
.innerBox button{
    width: 100%;
    height: 35px;
    border-radius: 4px;
    color:white;
    border: none;
    font-size: 1.2rem;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
}
.innerBox a{
    color: blueviolet;
    font-size: 1.2rem;
    font-weight: 600;
}
.innerBox a:hover{
    color: blue;
}