
.header{
    text-align: center;
    margin-top: 20px;
}
.header input {
    width: 35%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid aqua;
    padding: 2px 5px;
    font-size: 1rem;
}

.header button {
    float: right;
    margin-right: 5%;
    height: 32px;
    width: 100px;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    color:white;  
}
.mainContainer{
    display: flex;
    flex-wrap: wrap;
}
.mainContainer > div {
    margin: 15px;
    width: 100%;
}

